<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" role="form" method="POST"
                  action="/order/store">
                <input type="hidden" name="_token" value="<{CSRF_TOKEN}>">

                <div class="form-group">
                    <label class="col-md-4 control-label">ФИО</label>

                    <div class="col-md-6">
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Телефон</label>

                    <div class="col-md-6">
                        <input type="text" class="form-control" name="phone" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Варианты получения заказа</label>

                    <div class="col-md-6">
                        <input type="text" class="form-control" name="phone" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Дата доставки</label>

                    <div class="col-md-6" ng-controller="DatepickerCtrl">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="minDate"
                                   is-open="opened" min-date="minDate" max-date="'2015-06-22'"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Закрыть"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Время доставки</label>

                    <div class="col-md-6" ng-controller="TimepickerCtrl">
                        <timepicker ng-model="time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
                        </timepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Пожелания к заказу</label>

                    <div class="col-md-6">
                        <textarea class="form-control" rows="3" name="desc"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            Добавить
                        </button>
                        <a class="btn btn-default" href="/">Отложить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>