<!--<{data|json}> -->
<div style="padding: 20px; background: #fff; -webkit-box-shadow: 0 0 10px #EEEBE4;
     -moz-box-shadow: 0 0 10px #eeebe4;
     box-shadow: 0 0 10px #EEEBE4;" class="row">
    <h2>Жанылыктар</h2>
    <div>
        <div class="small-9 columns">
            <div ng-repeat="post in data| filter: search">
                <h3><a href="/genealogy#/post/<{post.id}>"><{post.title}></a></h3>
                <img ng-src="<{post.preview}>" class="small-3 columns th"/>
                <div class="small-9 columns"><{post.body}></div>
                <div class="clearfix"></div>
                <ul class="inline-list right">
                    <li>
                        <span tooltip="Каралган"  tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="fi-eye  size-18"></i> <{post.count_view}></span></li>
                    <li>
                        <span tooltip="Кошулган"  tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="fi-calendar  size-18"></i> <{post.created_at}></span></li>
                    <li>
                        <span tooltip="Туздотулгон"  tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="fi-refresh  size-18"></i>  <{post.updated_at}></span></li>
                </ul>
                <div class="clearfix"></div>
                <hr/>
            </div>
            <div ng-controller="PaginationCtrl" ng-show="data.length" class="pagination-centered">
                <pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
            </div>

        </div>
        <div class="large-3 columns">
            <div>
                <h3>Дата боюнча</h3>
                <ul>
                    <li>Ушул жума  <span class="label">12</span></li>
                    <li>1 жума мурун  <span class="label">42</span></li>
                    <li>2 жума мурун  <span class="label">36</span></li>
                </ul>
                <h3>Издоо</h3>
                <label>Текст:
                    <input type="text" placeholder="Издоолучу соз" ng-model="search"/>
                </label>
            </div>
            <div ng-show="data.length">
                <h3>TOP-5</h3>
                <ul>
                    <li ng-repeat="post in data| limitTo:5">
                        <a href="/genealogy/#post/<{post.id}>"><{post.title}></a>
                    </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <img src="http://www.super.kg/commercial/2015-3/5_1.gif" alt="manas_us"/>
            </div>
        </div>
    </div>
</div>
